.footer {
  background-color: var(--main-color);
  padding: 50px 0 0;
}

.footer-col h3 {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  /* margin: 0 0 20px; */
  text-transform: capitalize;
}

.footer-col p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  line-height: 26px;
  margin: 0;
}

.footer-col ul {
  margin: 0;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

.footer ul {
  display: flex;
  flex-direction: column;
  
}
.footer-col ul li a {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  display: block;
  margin-left: -10.2rem;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.footer-col ul li a:hover {
  padding-left: 5px;
}

.footer .copyright-text {
    margin-top: 20px;
  display: flex;
  font-size: 1.6rem;
  justify-content: center;
  text-align: center;
  color: beige;
}
